<!DOCTYPE html>
<html lang="zh-TW">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>會員頁面</title>
</head>
<body>
  <h3>這是會員頁面</h3>
  <div> Hello <%= name %></div>
  <h3>所有會員資料</h3>
  <% for(let i =0; i<data.length; i++) { %>
    <div><%= data[i].name %></div>
  <% } %>

  <div>
    <a href="/signout">登出會員</a>
  </div>
</body>
</html>